
<div class="container mt-3" ng-controller="displayCtrl">
    <h1>Display Students</h1>

    <table class="table table-collapse mt-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Course</th>
                <th>Address</th>
                <th>Grade</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody ng-repeat="stu in students">
            <tr>
                <th>{{stu.stu_id}}</th>
                <th>{{stu.stu_name}}</th>
                <th>{{stu.age}}</th>
                <th>{{stu.gender}}</th>
                <th>{{stu.course}}</th>
                <th>{{stu.address}}</th>
                <th>{{stu.grade}}</th>
                <th><span class="material-icons" ng-click="updateStudent(stu)">edit</span></th>
                <th><span class="material-icons" ng-click="delStudent(stu.stu_id)">delete</span></th>
            </tr>
        </tbody>
    </table>
</div>